body{
    background-color: #fff;
    min-width: 310px;
}

.navigation{
    color: #8D81AC;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    margin: auto;
    justify-content: center;
    text-align: center; 
}

.navigation{
    @media(min-width:320px){
        display: none;
    }
}

.navigation{
    @media(min-width:768px){
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

.navigation{
    @media(min-width:1200px){
        display: flex;
        margin-left: auto;
        margin-right: auto;
    }
}

.navigation:hover{
    color: #FFFFFF;  
}

.nav_first{
    @media(min-width:1200px){
        justify-content: center;
        margin-right: 40px;
        margin-left:326px ;
        text-align: center;
    }
}

.header{
    display: flex;
    height: 100px;
    width: 100%;
    background: #27262A;
}

.header{
    @media(min-width:1200px){
        background-color: black;
    }
}

.logo{
    margin: auto;

}

.buy_first{
    border: 1px solid ;
    border-radius: 17px;
    background-color: #8D81AC;
    height:20px;
    padding-left:34px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: auto;
    color:#fff;
}

.buy_first{
    @media(min-width:768px){
        display: none;
    }
}

.buy_first{
    @media(min-width:1200px){
        display: none;
    }
}

.buy{
    border: 1px solid ;
    border-radius: 17px;
    background-color: #8D81AC;
    height:20px;
    margin: auto;
    padding-left:34px;
    padding-right: 34px;
    padding-top: 8px;
    padding-bottom: 8px;
    color:#fff;
    font-family: Montserrat;
}

.nav{
    justify-content: center;
    margin-right: 40px;
    text-align: center;
}

.header_logo{
    color: #8D81AC;
    margin-left: 2px;
    margin-top:40px;
    font-weight: bold;
    font-size: 22px;
    line-height: 13px;
}

@media (min-width:0px) and (max-width:768px) {
   .header_logo{
       display:none;
    }
}

.header_logo:hover{
    color: white;
}

.header_fork{
    @media(min-width:320px){
        text-align: center;
        font-weight: bold;
        font-size: 48px;
        line-height: 48px;
        color: #FFFFFF;
        padding-top:50px;
        font-family: Montserrat;
    }
}

.header_fork{
    @media(min-width:768px){
        color: #FFFFFF;
        font-weight: bold;
        font-size: 72px;
        line-height: 72px;
        text-align: center;
        padding-top:68px;
        font-family: Montserrat;
    }
}

.header_fork{
    @media(min-width:1200px){
    text-align: center;
    font-weight: bold;
    font-size: 82px;
    line-height: 82px;
    color: #FFFFFF;
    padding-top:83px;
    font-family: Montserrat;
    }
}

.section-fork{
    background-repeat: no-repeat;
    justify-content: center;
    height: 618px;
}

.first_line_fork{
    color: #8D81AC;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    padding-top:20px;
    size: 18px;
}

.second_line_fork{
    color:  #848E97;;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    padding-top:14px;
    font-family: Montserrat;
}

.first_line_fork{
    @media(min-width:320px){
        margin-left: auto;
        margin-right: auto;
    }
}

.first_line_fork{
    @media(min-width:768px){
        font-size: 24px;
        line-height: 24px;
    }
}

.first_line_fork{
    @media(min-width:1200px){
        font-size: 30px;
        line-height: 30px;
    }
}

.button_middle{
    background: #8D81AC;
    border-radius: 40px;
    color:#fff;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    margin-left: auto;
    margin-right:auto;
    padding-top:15px;
    padding-bottom: 15px;
    text-align: center;
    width:290px;
}

.button_middle:hover{
    background-color: #fff;
    border:1px solid #8D81AC;
}

.sasd{
    color: black;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
}

.sasd:hover{
    color:#8D81AC;
}

.color{
    color:#fff;
}

.color:hover{
    color:#8D81AC;
}

.text{
    text-align: center;
    color: #848E97;
    font-size: 14px;
    line-height: 14px;
    padding-top:12.5px;
}

.editor{
    color: #635C73;
    font-size:36px;
    line-height: 38px;
    text-align: center;
    font-weight: bold;
    padding-top:79.5px;
    font-family: Montserrat;
}

.second_line_editor{
    color: #323232;
    font-size: 14px;
    line-height: 20px;
    font-family: Lato;
    text-align: center;
    padding-top:27px;
    font-size: 14px;
    line-height: 20px;
    color: #323232;
}

@media (min-width: 300px) {
	.section-fork {
		background: url(../img/backgr_2.png);
        background-repeat: no-repeat;
        background-color: black;
    }
}

@media (min-width: 768px) {
	.section-fork {
        background: url(../img/backgr_2.png);
        background-repeat: no-repeat;
	}
}

@media (min-width: 768px) {
	.section-fork {
        background: url(../img/backgr_2.png);
        background-repeat: no-repeat;
    }
}

@media (min-width: 1200px) {
	.section-fork {
        background: url(../img/backgr_2.png);
        background-repeat: no-repeat;
	}
}

.section-fork {
	background-size: cover;
	background-position: center center;
}

.smena{
    @media(min-width:320px){
        display: none;
    }
}

.smena{
    @media(min-width:400px){
        margin-left: auto;
        margin-right: auto;
    }
}

.watch{
    display: block;
    margin-left: auto;
    margin-right: auto;
        @media(min-width:400px){
            display: none;
        }
}

.fork{
    display: block;
    margin-left: auto;
    margin-right: auto;
       @media(min-width:400px){
            display: none;
        }
}

.watch_fork{
    display: block;
    margin-left: auto;
    margin-right: auto;
        @media(min-width:520px){
            display: block;
        }       
}

@media (min-width:400px) and (max-width:0px) {
   .watch_fork{
       display:none;
    }
}

.watch_fork{
       @media(max-width:400px){
        display:none;
    }
}
    
@media (min-width: 320px) {
	.wraperss {
        display: grid;
        grid-template-columns: 1fr  ; 
        grid-row-gap: 1em;
	}
}

@media (min-width: 768px) {
	.wraperss {
        display: grid;
        grid-template-columns: 1fr 1fr ; 
        grid-row-gap: 1em;
	}
}

@media (min-width: 1200px) {
	.wraperss {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ; 
        grid-row-gap: 1em;
	}
}

@media (min-width: 320px) {
	.people_logo {
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
        font-size: 36px;
        line-height: 48px;
        padding-top:57px;
        padding-bottom: 40px;
	}
}

@media (min-width: 768px) {
	.people_logo {
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
        font-size: 36px;
        line-height: 48px;
        padding-top:85.91px;
        padding-bottom: 40px;
        font-family: Montserrat;
	}
}

@media (min-width: 1200px) {
	.people_logo {
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
        font-size: 36px;
        line-height: 48px;
        padding-top:108.11px;
        padding-bottom: 120px;
        padding-bottom: 40px;
	}
}

.photo_position{
    display: block;
    margin-left: auto;
    margin-right: auto; 
    color: #FFFFFF;
    padding-bottom: 20px;
}

.text_half_position{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    width:345px;
    text-align: center;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 300px) {
	.midle_background {
		background: url(../img/midle_background_3.png);
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.0001);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 768px) {
	.midle_background {
        background: url(../img/midle_background_3.png);
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.0001);
        display: block;
        margin-left: auto;
        margin-right: auto; 
	}
}

@media (min-width: 1200px) {
	.midle_background {
        background: url(../img/midle_background_3.png);
        background-repeat: no-repeat;
        background-color: rgba(0, 0, 0, 0.0001);
        display: block;
        margin-left: auto;
        margin-right: auto; 

    }
}

.midle_background {
	background-size: cover;
	background-position: center center;
}

.midle_background_text{
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    font-size: 14px;
    line-height: 21px;
    color: #A291A5;
    margin-top:50px;
}

@media (min-width: 320px) {
	.midle_background_text {
        padding-top: 12px;
        padding-bottom: 15px;    
        padding-left:34px;
        padding-right:35px;
	}
}

@media (min-width: 768px) {
	.midle_background_text {
        padding-top: 25.5px;
        padding-bottom: 18.5px;
        padding-left:36px;
        padding-right:28px;
	}
}

@media (min-width: 1200px) {
	.midle_background_text {
        padding-top: 25.5px;
        padding-bottom: 18.5px;
        padding-left:247px;
        padding-right:246px;
	}
}

@media (min-width:320px) {
   .line{
       width: 245px;
       height: 2px;
   }
}

.line{
    @media(min-width:768px) {
    width: 555px;
    height: 2px;
    }
}

.line{
    @media(min-width:1200px){
    width: 780px;
    height: 2px;
   }
}

.logos{
    color: white;
    font-family: Montserrat;
}
.logo{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 12px;
    padding-left: 20px;
}

@media (min-width:320px) {
   .logos{
    font-weight: bold;
    font-size: 28px;
    line-height: 42px;
    color: #FFFFFF;
    text-align: center;
   }
}

@media(min-width:768px) {
    .logos{    
    font-weight: bold;
    font-size: 42px;
    line-height: 44px;
    color: #FFFFFF;
    text-align: center;
     padding-top: 80px;
    }
}

@media(min-width:1200px){
    .logos{     
        font-weight: bold;
        font-size: 48px;
        line-height: 50px;
        color: #FFFFFF;
        text-align: center;
        padding-top: 88px;
    }
}

.boxx{
    display: block;
    margin-left: auto;
    margin-right: auto;  
}

@media (min-width: 300px) {
	.background_section {
		background: url(../img/background_betta.png);
        background-repeat: no-repeat;
        background-color: black;
        padding-top:-120px;
    }
}

@media (min-width: 768px) {
	.background_section {
        background: url(../img/background_betta.png);
        background-repeat: no-repeat;
        margin-top:-10px;
	}
}

@media (min-width: 768px) {
	.background_section {
        background: url(../img/background_betta.png);
        background-repeat: no-repeat;
        margin-top:-10px;
    }
}

@media (min-width: 1200px) {
	.background_section {
        background: url(../img/background_betta.png);
        background-repeat: no-repeat;
        margin-top:-10px;
	}
}

.background_section {
	background-size: cover;
	background-position: center center;
}

.block{
    background: #877aa726 ;
    width:197px;
    height: 405px;    
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    height: 430px;
}

.student{
    background: #926ee652;
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 24px;
    line-height: 24px;
    color: white;
    width:197px;
}

.price{
    font-size: 60px;
    line-height: 62px;
    color: white;
    padding-top: 31px;
}

.month{
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    padding-top: 20px;
    padding-bottom: 37px;
}

.license{
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
    padding-top: 30px;
}

.purchase{
    background-color: #6f6488;
    border-radius: 18px;
    opacity: 0.9;
    padding-left: 36px;
    padding-right: 36px;
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    color:white;
    font-size: 16px;
    line-height: 18px;
    width: 88px;
    margin-top:19px ;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    margin-bottom: 12px;
}

.block_2{
    width:279px ;
    height: 560px;
    opacity: 0.84;
    background: #46304885 ;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
}

.student_2{
    background: #261a2785;
    padding-top: 36px;
    padding-bottom: 36px;
    font-size: 24px;
    line-height: 24px;
    color: white;
    width:279px;  
}

.price_2{
    font-size: 82px;
    line-height: 90px;
    color: white;
    padding-top: 54px;
    opacity: 1;
}

@media (min-width: 300px) {
	.wrappers {
        display: grid;
        grid-template-columns:  1fr ; 
    }
}

@media (min-width: 768px) {
	.wrappers {
        display: grid;
        grid-template-columns: 1fr 1fr ; 
        width:800px;
	}
}

@media (min-width: 768px) {
	.wrappers {
        display: grid;
        grid-template-columns: 1fr 1fr ; 
        margin-left: auto;
        text-align: center;
        margin-right: auto;
        margin-top: 180px;
    }
}

@media (min-width: 1200px) {
	.wrappers {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        width: 1214PX;
        margin-left: auto;
        text-align: center;
        margin-right: auto;
	}
}

@media (min-width: 300px) {
	.here_logo {
        font-weight: bold;
        font-size: 32px;
        line-height: 38px;
        color: #8D81AC;
        text-align: center;
        font-family: Montserrat;
    }
}

@media (min-width: 768px) {
	.here_logo {
        font-weight: bold;
        font-size: 42px;
        line-height: 44px;
        color: #8D81AC;
        font-family: Montserrat;
	}
}

@media (min-width: 1200px) {
	.here_logo {
        font-weight: bold;
        font-size: 48px;
        line-height: 50px;
        color: #8D81AC;
        font-family: Montserrat;
	}
}

.logotypes{
    color: #323232;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    font-family: Montserrat;
}

.secondline_logotypes{
    font-size: 14px;
    line-height: 21px;
    color: #848E97;
    text-align: center;
    padding-right: 60px;
    padding-left:40px;
    padding-top: 20px;
    padding-right: 20px;

}

.block_here{
    text-align: center;
}

@media (min-width: 300px) {
	.main_wrapper {
        display: grid;
        grid-template-columns:  1fr ; 
        grid-row-gap: 1em;
    }
}

.zip{
    justify-content: center;
    display: block;
    padding-left: 40px;
    padding-right: 40px;
}

@media (max-width: 767px) {
	.zip {
        display: none;
    }
}

.smena_photo{
    padding-bottom: 20px;
}

@media (min-width:768px) {
	.smena_photo {
        display:none;
	}
}

